# Start

![image.png]()

1) Что это такое (из чего он состоит)?

2) Где он применяется?

3) Как его использовать?

4) Плюсы и минусы

5) Альтернативы

In [ ]:
x = 10
print(id(10))
print(type(10))
print(x)

import sys
print(sys.getsizeof(x))

y = [1, 2, 3]
print(sys.getsizeof(y))

10758024
<class 'int'>
10
28
88

In [ ]:
print(f"{2 ** 0.5:.2f}")

1.41

In [ ]:
digit = 8 % 9
print(digit)

8

In [ ]:
# not x == 5 ==> x != 5

In [ ]:
print(ord('a'), ord('A'))
print(ord('s') > ord('m'))
print(ord('m') > ord('s'))

# возвращает код символа из таблицы кодировки

97 65
True
False

In [ ]:
print(chr(116))

t

In [ ]:
text = input()
if 'fuck' in text:
  print('there is a good word')
else:
  print('there is not a nice word')

all of us fucking damn right yoo
there is a good word

In [ ]:
def test(value):
    match value:
        case 1:
            print("Один")
        case 2:
            print("Два")
        case _:
            print("Другое")

test(1)
test(2)
test(_)

Один
Два
Другое

In [ ]:
m = 12
n = 19
k = 25

# максимальное число
print(max(m, n, k))

line_1 = "m"
line_2 = "n"
line_3 = "k"

# минимальная лексикографически строка
print(min(line_1, line_2, line_3))

# количество цифр в числе 2 в степени 2022
print(2 ** 2022)
print(str(2 ** 2022))
print(len(str(2 ** 2022)))

# print(abs(str(2 ** 2022)))

25
k
481560916771158684800786922703235625631274322714142263414417884163925873322306437689024231009526751394401758326916367106052034484602375642882110959089521812209947069992139877256008949136579813164413834190131240610432508865633901300457687591589632190325582710683886781973951695733384278544896131740867054246692573031629150247882082682647773168904426336814855367810693467547461780797071163567159452928068892906992787178135839959347223507647240845924670958716173279750751341651541295792537288393481542519773223140547524361834615428274169543954961376881442030303829940191406452725012875774576546969913778507874304
481560916771158684800786922703235625631274322714142263414417884163925873322306437689024231009526751394401758326916367106052034484602375642882110959089521812209947069992139877256008949136579813164413834190131240610432508865633901300457687591589632190325582710683886781973951695733384278544896131740867054246692573031629150247882082682647773168904426336814855367810693467547461780797071163567159452928068892906992787178135839959347223507647240845924670958716173279750751341651541295792537288393481542519773223140547524361834615428274169543954961376881442030303829940191406452725012875774576546969913778507874304
609

In [ ]:
saved_pwd = "right_password"
pwd = input("Введите пароль для входа: ")
while pwd != saved_pwd:
    pwd = input("Введите пароль для входа: ")
print("Пароль верный. Вход разрешён.")

Введите пароль для входа: lll
Введите пароль для входа: ooooo
Введите пароль для входа: right_password
Пароль верный. Вход разрешён.

In [ ]:
saved_pwd = "right_password"
while input("Введите пароль для входа: ") != saved_pwd:
    pass
print("Пароль верный. Вход разрешён.")

Введите пароль для входа: fffff
Введите пароль для входа: dddddd
Введите пароль для входа: right_password
Пароль верный. Вход разрешён.

In [ ]:
name = input("Введите имя: ")
while name != "СТОП":
    print(f"Привет, {name}!")
    name = input("Введите имя: ")
print("Программа завершена.")

Введите имя: jjj
Привет, jjj!
Введите имя: jks
Привет, jks!
Введите имя: СТОП
Программа завершена.

In [ ]:
while (name := input('enter name: ')) != 'stop':
  print(f'name {name}')
print('finish')

enter name: kaf;a
name kaf;a
enter name: stop
finish

In [ ]:
n = int(input("Введите n: "))
for i in range(n):
    print(i)
    i = 100

Введите n: 9
0
1
2
3
4
5
6
7
8

In [ ]:
n = int(input("Введите число n: "))  # Запрос числа
total = 0  # Инициализация суммы

for i in range(1, n + 1):  # Цикл от 1 до n
    total += i  # Суммирование

print("Сумма чисел от 1 до", n, "равна", total)  # Вывод результата

Введите число n: 9
Сумма чисел от 1 до 9 равна 45

In [ ]:
# for i in range(26):
#     for j in range(26):
#        print(f"{chr(ord('a') + i)}{chr(ord('a') + j)}")

In [ ]:
text = input()
print(text[0])
print(len(text))
# print(text[len(text)]) # out of range = error
print(text[len(text) -1])

titties
t
7
s

In [ ]:
text = input("Введите строку: ")
i = int(input("Введите индекс символа: "))
if i < len(text):
    print(text[i])
else:
    print("Индекс выходит за пределы строки")

Введите строку: cock
Введите индекс символа: 9
Индекс выходит за пределы строки

In [ ]:
text = input()
for i in range(len(text)):
    print(text[i])

fadilsa
f
a
d
i
l
s
a

In [ ]:
s = input()
for i in s:
  print(i)

fadilsa
f
a
d
i
l
s
a

In [ ]:
line = input()
for i, lett in enumerate(line):
  print(i, lett)

fadilsa
0 f
1 a
2 d
3 i
4 l
5 s
6 a

In [ ]:
nums = []
for i in range(3):
  nums.append(int(input()))
print(nums)

1
2
3
[1, 2, 3]

In [ ]:
vowels = {"а", "е", "ё", "и", "о", "у", "ы", "э", "ю", "я"}
for letter in vowels:
    print(letter)

о
у
э
е
ы
ю
а
ё
и
я

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
unionSets = s1 | s2 # use operator | or union()
print(unionSets)

print(s1 & s2)
intersection = s1 & s2
print(intersection)

print(s1 - s2)
print(s1.difference(s2))

print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
vowels = {"а", "е", "ё", "и", "о", "у", "ы", "э", "ю", "я"}
letters = set('collection')
print(', '.join(vowels & letters))

и, е, я, о

In [ ]:
countries = dict()
country = input()
str_number = 0

while country != 'stop':
  if country not in countries:
    countries[country] = [str_number]
  else:
    countries[country].append(str_number)

  str_number += 1
  country = input()

for country in countries:
  print(country, countries[country])

russia
morocco
qatar
stop
russia [0]
morocco [1]
qatar [2]

In [ ]:
qs = dict()
q = input()
s_index = 0

while q != 'stop':
  qs[q] = qs.get(q, []) + [s_index]

  s_index += 1
  q = input()

for q in qs:
  print(q, qs[q])

rus
iq
su
stop
rus [0]
iq [1]
su [2]

In [ ]:
numbers = []
for i in range(5):
  numbers.append(int(input())) # list comprehnsive - списочные выражение
print(numbers)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
numbers = [int(input()) for i in range(5)]
print(numbers) # generator - генератор

1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
numbers = [int(input()) for i in range(5)]
avg = sum(numbers) // len(numbers)
numbers = [element for element in numbers if element > avg]
print(numbers)

1
2
3
4
5
[4, 5]

In [ ]:
M = [i*i for i in range(5)]
print(M)

[0, 1, 4, 9, 16]

In [ ]:
s = [x*x for x in range(10) if x%2 == 0]
print(s)

[0, 4, 16, 36, 64]

In [ ]:
pairs = [(x, y) for x in [1, 2] for y in [3, 4]]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
x = [1, 2, 3]
print(id(x))
x.append(4)
print(id(x))

137092351484736
137092351484736

In [ ]:
generator = (x*x for x in range(5))
print(generator)

<generator object <genexpr> at 0x7caf14522670>

In [ ]:
gen = (x for x in range(3))
print(list(gen))  # [0, 1, 2]
print(list(gen))  # []

[0, 1, 2]
[]

In [ ]:
matrix = [[int(x) for x in input().split()] for i in range(5)]
print(matrix)

1
2
3
4
5
[[1], [2], [3], [4], [5]]

In [ ]:
zeros = [[0] * 5] * 5
print(zeros)
zeros[0][0] = 1
print(zeros)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0]]

In [ ]:
from timeit import timeit

print(round(timeit("s = '; '.join(str(x) for x in range(10 ** 7))", number=10), 3))

print(round(timeit("s = '; '.join([str(x) for x in list(range(10 ** 7))])", number=10), 3))

21.988
22.299

In [ ]:
names = ["Ali", "Sara"]
ages = [30, 25]
for name, age in zip(names, ages):
    print(name, age)

Ali 30
Sara 25

In [ ]:
import itertools

print(itertools.product("ABC", repeat=2))

<itertools.product object at 0x7f932213ee80>

In [ ]:
from itertools import product
print(product("ABC", repeat=2))

<itertools.product object at 0x7f9322a79d80>

In [ ]:
from itertools import count

for value in count(0, 0.1):
    if value > 1:
        break
    print(round(value, 1))

0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0

In [ ]:
from itertools import cycle

s = ""
for letter in cycle("ABC"):
    if len(s) == 10:
        break
    s += letter

print(s)

ABCABCABCA

In [ ]:
from itertools import chain

values = list(chain.from_iterable(["АБВ", "ГДЕ", "ЖЗИ"]))

print(values)

['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И']

In [ ]:
from itertools import product

# values = list(product([1, 2, 3], ['aa', 'bb', 'cc']))
values = list(product([1, 2, 3], 'abc'))
print(values)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [ ]:
from itertools import product

values = list(product([1, 2, 3], 'abc', repeat=2)) #ebat
print(values)

[(1, 'a', 1, 'a'), (1, 'a', 1, 'b'), (1, 'a', 1, 'c'), (1, 'a', 2, 'a'), (1, 'a', 2, 'b'), (1, 'a', 2, 'c'), (1, 'a', 3, 'a'), (1, 'a', 3, 'b'), (1, 'a', 3, 'c'), (1, 'b', 1, 'a'), (1, 'b', 1, 'b'), (1, 'b', 1, 'c'), (1, 'b', 2, 'a'), (1, 'b', 2, 'b'), (1, 'b', 2, 'c'), (1, 'b', 3, 'a'), (1, 'b', 3, 'b'), (1, 'b', 3, 'c'), (1, 'c', 1, 'a'), (1, 'c', 1, 'b'), (1, 'c', 1, 'c'), (1, 'c', 2, 'a'), (1, 'c', 2, 'b'), (1, 'c', 2, 'c'), (1, 'c', 3, 'a'), (1, 'c', 3, 'b'), (1, 'c', 3, 'c'), (2, 'a', 1, 'a'), (2, 'a', 1, 'b'), (2, 'a', 1, 'c'), (2, 'a', 2, 'a'), (2, 'a', 2, 'b'), (2, 'a', 2, 'c'), (2, 'a', 3, 'a'), (2, 'a', 3, 'b'), (2, 'a', 3, 'c'), (2, 'b', 1, 'a'), (2, 'b', 1, 'b'), (2, 'b', 1, 'c'), (2, 'b', 2, 'a'), (2, 'b', 2, 'b'), (2, 'b', 2, 'c'), (2, 'b', 3, 'a'), (2, 'b', 3, 'b'), (2, 'b', 3, 'c'), (2, 'c', 1, 'a'), (2, 'c', 1, 'b'), (2, 'c', 1, 'c'), (2, 'c', 2, 'a'), (2, 'c', 2, 'b'), (2, 'c', 2, 'c'), (2, 'c', 3, 'a'), (2, 'c', 3, 'b'), (2, 'c', 3, 'c'), (3, 'a', 1, 'a'), (3, 'a', 1, 'b'), (3, 'a', 1, 'c'), (3, 'a', 2, 'a'), (3, 'a', 2, 'b'), (3, 'a', 2, 'c'), (3, 'a', 3, 'a'), (3, 'a', 3, 'b'), (3, 'a', 3, 'c'), (3, 'b', 1, 'a'), (3, 'b', 1, 'b'), (3, 'b', 1, 'c'), (3, 'b', 2, 'a'), (3, 'b', 2, 'b'), (3, 'b', 2, 'c'), (3, 'b', 3, 'a'), (3, 'b', 3, 'b'), (3, 'b', 3, 'c'), (3, 'c', 1, 'a'), (3, 'c', 1, 'b'), (3, 'c', 1, 'c'), (3, 'c', 2, 'a'), (3, 'c', 2, 'b'), (3, 'c', 2, 'c'), (3, 'c', 3, 'a'), (3, 'c', 3, 'b'), (3, 'c', 3, 'c')]

In [ ]:
from itertools import combinations_with_replacement

values = list(combinations_with_replacement("АБВ", 2))
print(values)

[('А', 'А'), ('А', 'Б'), ('А', 'В'), ('Б', 'Б'), ('Б', 'В'), ('В', 'В')]

In [ ]:
from itertools import permutations

values = list(permutations("АБВ"))
print(values)

[('А', 'Б', 'В'), ('А', 'В', 'Б'), ('Б', 'А', 'В'), ('Б', 'В', 'А'), ('В', 'А', 'Б'), ('В', 'Б', 'А')]

In [ ]:
s = ['aa', 'bb', 'cc']
for i in enumerate(s):
    print(i)

(0, 'aa')
(1, 'bb')
(2, 'cc')

In [ ]:
from sys import stdin

lines = []
for line in stdin:
    lines.append(line)
print(lines)

[]

In [ ]:
from sys import stdin

lines = []
for line in stdin:
    lines.append(line.rstrip("\n"))
print(lines)

[]

In [ ]:
a, b = map(int, input("Введите два числа через пробел: ").split())
print("Сумма:", a + b)

Введите два числа через пробел: 1 2
Сумма: 3

In [ ]:
import sys

for line in sys.stdin:
    print("Ввели строку:", line.strip())

In [ ]:
import sys

data = sys.stdin.read()
print("Вы ввели:", data)

Вы ввели:

In [ ]:
import sys

print(sys.stdin.read())

In [ ]:
from sys import stdin

lines = []
for line in stdin:
    lines.append(line)
print(lines)

[]

In [ ]:
# file_in = open("input_1.txt", encoding="UTF-8")
# for line in file_in:
#     print(line)
# file_in.close()

In [ ]:
filee = open("/content/drive/MyDrive/ML/text.txt", encoding="UTF-8")
for line in filee:
  print(line)
filee.close()

hii

what's up

where are u yo

In [ ]:
filee = open("/content/drive/MyDrive/ML/text.txt", encoding="UTF-8")
for line in filee:
  print(line.rstrip("\n"))
filee.close()

hii
what's up
where are u yo

In [ ]:
with open("output_1.txt", "w", encoding="UTF-8") as file_out:
    n = file_out.write("Это первая строка\nА вот и вторая\nИ третья -- последняя\n")

print(n)

55

In [ ]:
import sys
print(sys.stdin.read())

In [ ]:
import pprint

data = {
    'name': 'Алиса',
    'age': 30,
    'hobbies': ['чтение', 'походы', 'программирование'],
    'address': {
        'city': 'Страна чудес',
        'zip': '12345'
    }
}

# Используя pprint
pprint.pprint(data)

{'address': {'city': 'Страна чудес', 'zip': '12345'},
 'age': 30,
 'hobbies': ['чтение', 'походы', 'программирование'],
 'name': 'Алиса'}

In [ ]:
def increment(n):
    n += 1
    print("Внутри функции:", n)

x = 10
increment(x)  # 11
print("Снаружи:", x)  # 10 — не изменился

Внутри функции: 11
Снаружи: 10

In [ ]:
def add_item(my_list):   # ← my_list — параметр (ссылается на список)
    my_list.append(100)  # ← список изменяется по ссылке

numbers = [1, 2, 3]  # ← глобальный список (изменяемый тип)
add_item(numbers)    # ← передаётся ссылка на список
print(numbers)       # → [1, 2, 3, 100] — список изменился

[1, 2, 3, 100]

In [ ]:
def greet(name, age=18):
    print(f"{name}, возраст по умолчанию: {age}")

greet("Иван")          # age = 18
greet("Анна", 25)      # age = 25

# ❌ Ошибка: аргумент без значения по умолчанию после аргумента с ним
# def bad_example(age=20, name):  # SyntaxError
#     pass

Иван, возраст по умолчанию: 18
Анна, возраст по умолчанию: 25

In [ ]:
def create_car(color, consumption, tank_volume, mileage=0):
    return {
        "color": color,
        "consumption": consumption,
        "tank_volume": tank_volume,
        "reserve": tank_volume,
        "mileage": mileage,
        "engine_on": False
    }

def start_engine(car):
   if not car["engine_on"] and car["reserve"] > 0:
       car["engine_on"] = True
       return "Двигатель запущен."
   return "Двигатель уже был запущен."

def stop_engine(car):
   if car["engine_on"]:
       car["engine_on"] = False
       return "Двигатель остановлен."
   return "Двигатель уже был остановлен."

def drive(car, distance):
   if not car["engine_on"]:
       return "Двигатель не запущен."
   if car["reserve"] / car["consumption"] * 100 < distance:
       return "Малый запас топлива."
   car["mileage"] += distance
   car["reserve"] -= distance / 100 * car["consumption"]
    return f"Проехали {distance} км. Остаток топлива: {car['reserve']} л."

def refuel(car):
   car["reserve"] = car["tank_volume"]

def get_mileage(car):
   return f"Пробег {car['mileage']} км."

def get_reserve(car):
   return f"Запас топлива {car['reserve']} л."

car_1 = create_car(color="black", consumption=10, tank_volume=55)

print(start_engine(car_1))
print(drive(car_1, 100))
print(drive(car_1, 100))
print(drive(car_1, 100))
print(drive(car_1, 300))
print(get_mileage(car_1))
print(get_reserve(car_1))
print(stop_engine(car_1))
print(drive(car_1, 100))

IndentationError: unexpected indent (ipython-input-1219176077.py, line 30)

In [ ]:
# 📦 ОПРЕДЕЛЕНИЕ КЛАССА Car — шаблон для создания объектов машин
class Car:

    # 🔧 КОНСТРУКТОР (__init__) — вызывается при создании объекта
    def __init__(self, color, consumption, tank_volume, mileage=0):
        # 🔑 Атрибуты экземпляра (состояния объекта):
        self.color = color                 # Цвет машины
        self.consumption = consumption     # Расход топлива (л на 100 км)
        self.tank_volume = tank_volume     # Объём бака
        self.reserve = tank_volume         # Текущий запас топлива (изначально полный)
        self.mileage = mileage             # Пробег (по умолчанию 0)
        self.engine_on = False             # Состояние двигателя: включён/выключен

        # 🛡️ Инкапсуляция: атрибуты объекта хранят его внутреннее состояние
        # Они доступны только через методы класса (например, через get_mileage)

    # 🔧 Метод: запуск двигателя
    def start_engine(self):
        if not self.engine_on and self.reserve > 0:
            self.engine_on = True
            return "Двигатель запущен."
        return "Двигатель уже был запущен."

    # 🔧 Метод: остановка двигателя
    def stop_engine(self):
        if self.engine_on:
            self.engine_on = False
            return "Двигатель остановлен."
        return "Двигатель уже был остановлен."

    # 🔧 Метод: поехать на указанное расстояние
    def drive(self, distance):
        if not self.engine_on:
            return "Двигатель не запущен."

        # Проверка: хватит ли топлива на запрошенное расстояние
        if self.reserve / self.consumption * 100 < distance:
            return "Малый запас топлива."

        # Обновление пробега и расхода топлива
        self.mileage += distance
        self.reserve -= distance / 100 * self.consumption
        return f"Проехали {distance} км. Остаток топлива: {self.reserve} л."

    # 🔧 Метод: заправка до полного бака
    def refuel(self):
        self.reserve = self.tank_volume

    # 🔧 Метод-геттер: получить текущий пробег
    def get_mileage(self):
        return self.mileage

    # 🔧 Метод-геттер: получить остаток топлива
    def get_reserve(self):
        return self.reserve


# 🧱 СОЗДАНИЕ ОБЪЕКТА (экземпляра класса Car)
car_1 = Car(color="black", consumption=10, tank_volume=55)

# Вызов методов (действия над объектом):
print(car_1.start_engine())     # 🔧 Метод запуска двигателя
print(car_1.drive(100))         # 🔧 Едем 100 км
print(car_1.drive(100))         # 🔧 Едем ещё 100 км
print(car_1.drive(100))         # 🔧 Едем ещё 100 км
print(car_1.drive(300))         # 🔧 Попытка проехать 300 км — может не хватить топлива

# Получаем состояние (📊 данные объекта)
print(f"Пробег {car_1.get_mileage()} км.")        # 🔧 Получаем пробег
print(f"Запас топлива {car_1.get_reserve()} л.")  # 🔧 Получаем остаток топлива

# Останов двигателя
print(car_1.stop_engine())       # 🔧 Метод остановки двигателя

# Попытка ехать с выключенным двигателем
print(car_1.drive(100))          # 🔧 Не поедет — двигатель выключен

Двигатель запущен.
Проехали 100 км. Остаток топлива: 45.0 л.
Проехали 100 км. Остаток топлива: 35.0 л.
Проехали 100 км. Остаток топлива: 25.0 л.
Малый запас топлива.
Пробег 300 км.
Запас топлива 25.0 л.
Двигатель остановлен.
Двигатель не запущен.

In [ ]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):  # перегружаем +
        return Point(self.x + other.x, self.y + other.y)

    def __str__(self):  # удобный вывод
        return f"Point({self.x}, {self.y})"

p1 = Point(1, 2)
p2 = Point(3, 4)
print(p1 + p2)  # 👉 Point(4, 6)

Point(4, 6)

In [ ]:
class Book:
    def __init__(self, title, pages):
        self.title = title
        self.pages = pages

    def __str__(self):     # для print()
        return f"{self.title} ({self.pages} pages)"

    def __repr__(self):    # для отладки
        return f"Book({self.title!r}, {self.pages!r})"

    def __add__(self, other):  # сложение по страницам
        return Book(self.title + " & " + other.title, self.pages + other.pages)

b1 = Book("Python", 300)
b2 = Book("OOP", 200)

print(b1)         # 👉 Python (300 pages)
print(repr(b2))   # 👉 Book('OOP', 200)
print(b1 + b2)    # 👉 Python & OOP (500 pages)

Python (300 pages)
Book('OOP', 200)
Python & OOP (500 pages)

In [ ]:
# Попытка деления на ноль — вызовет исключение ZeroDivisionError
a = 10
b = 0
result = a / b  # ❌ Ошибка: деление на ноль
print("Результат:", result)  # Эта строка уже не выполнится

ZeroDivisionError: division by zero

In [ ]:
# Пример с чтением значения из словаря

data = {"name": "Ahmed"}

# 🔹 LBYL: сначала проверим, есть ли ключ
if "age" in data:
    print("Возраст:", data["age"])
else:
    print("Возраст не указан")

# 🔹 EAFP: просто пробуем, а если ошибка — обрабатываем
try:
    print("Возраст:", data["age"])
except KeyError:
    print("Возраст не указан")

Возраст не указан
Возраст не указан

In [ ]:
try:
    number = int(input("Введите число: "))
except ValueError:
    print("Ошибка: введите корректное число.")
else:
    print(f"Вы ввели число: {number}")
finally:
    print("Программа завершена.")

Введите число: l
Ошибка: введите корректное число.
Программа завершена.

In [ ]:
print(";".join(str(1 / x) for x in range(int(input()), int(input()) + 1)))

0
9

ZeroDivisionError: division by zero

In [ ]:
interval = range(int(input()), int(input()) + 1)
if 0 in interval:
    print("Диапазон чисел содержит 0.")
else:
    print(";".join(str(1 / x) for x in interval))

0
9
Диапазон чисел содержит 0.

In [ ]:
print(";".join(str(1 / x) for x in range(int(input()), int(input()) + 1)))

9
0

# The end